<form novalidate [formGroup]="parentForm" style="margin-left:50px">
  <div class="main" formArrayName="arrayOfFields">

    <div *ngFor="let editor of parentForm.controls.arrayOfFields.controls; let i=index">

      <div [formGroupName]="i" class="editor">
        <span>
          <label for="field">Field</label>
          <input id="field" *ngIf="!isArray" type="text" formControlName="field">
          <input [attr.disabled]="true" type="text" formControlName="field" *ngIf="isArray">
        </span>

        <span>
          <label for="type">Type</label>
          <ng-select (change)="optionChanged($event, editor.controls.value)" class="ng-select" [multiple]="false"
            [clearable]="false" [items]="typeOptions" formControlName="type" bindValue="option" bindLabel="displayValue">
          </ng-select>
        </span>

        <span [ngSwitch]="editor.controls.type.value">
          <span *ngIf="isPrimitiveType(editor.controls.type.value)">
            <label for="value">Value</label>
          </span>
          <input id="value" *ngSwitchCase="'string'" type="text" formControlName="value">
          <input id="value" *ngSwitchCase="'number'" type="number" formControlName="value">
          <select id="value" *ngSwitchCase="'boolean'" formControlName="value">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
          <input id="value" *ngSwitchCase="'generateUuid'" type="text" formControlName="value">
          <input id="value" *ngSwitchCase="'date'" type="date" formControlName="value">
          <input id="value" *ngSwitchCase="'name'" type="text" formControlName="value">
        </span>

        <span>
          <label></label>
          <i class="fa fa-minus-circle" (click)="deleteField(i)"></i>
        </span>

      </div>

      <!-- check if value selected is object -->
      <div *ngIf="editor.controls.type.value=='object'">
        <app-editor [parentFieldName]="editor.controls.field.value" [isArray]="false" [isRoot]="false" [mapObject]="getChildEditorObjectValue(editor.controls.value.value, editor.controls.type.value)">
        </app-editor>
      </div>

      <!-- check if value selected is array -->
      <div *ngIf="editor.controls.type.value=='array'">
        <app-editor [parentFieldName]="editor.controls.field.value" [isArray]="true" [isRoot]="false" [mapObject]="getChildEditorObjectValue(editor.controls.value.value, editor.controls.type.value)">
        </app-editor>
      </div>

    </div>
  </div>
  <div>
    <!-- <button type="button" (click)="addField()" style="background-color:rgba(114, 198, 231, 0.336)">Add Field</button> -->
    <i class="fa fa-plus-circle" (click)="addField()"></i>
  </div>
  <button [disabled]="!isEditorFormValid()" (click)=save() *ngIf="isRoot" style="margin-top:50px">Save</button>

</form>
<h4 *ngIf="isRoot">Form Valid: {{ isEditorFormValid() }}</h4>